<!-- python -->
{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial="1">
    <title>pogger</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!-- <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
    <script src="{% static 'redirect.js' %}"></script> -->
</head>
<body>
    <header class="center">
        <h1><a href="/" class="normal">EA Sports</a></h1>
    </header>
    <div class="nav">
        <li><a class="normal">e</a></li>
        <li><a class="normal">e</a></li>
    </div>
</body>
</html>